/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.galeryContainer{
  width: 60%;
  margin-left: 20%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.galeryContainer > h2 {
  padding-top: 10px;
}

.videoContainer {
  width: 100%;
  text-align:center;
}